<div class="pages">

	<div data-page="group" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding group-name">
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
			</div>

		</div>

		<div class="page-content">

			<form data-search-list=".producers-list-block" data-search-in=".item-inner" class="searchbar searchbar-init">

				<div class="searchbar-input">
					<input type="search" placeholder="Search group producers">
					<a href="#" class="searchbar-clear"></a>
				</div>

				<a href="#" class="searchbar-cancel">
					Cancel
				</a>

			</form>

			<div class="searchbar-overlay"></div>

			<div class="content-block searchbar-not-found">
	        	No producers found matching that criteria
	        </div>

			<div class="list-block media-list avatar-list-block producers-list-block searchbar-found no-margin">
				<ul></ul>
			</div>

		</div>

	</div>

</div>
