<div class="pages">

	<div data-page="add-producer" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Add Producer
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>

		<div class="page-content">

			<div class="content-block">

				<div class="buttons-row">

					<a href="#tab1" class="tab-link active button">Info</a>
					<a href="#tab2" class="tab-link button">Banking</a>
					<a href="#tab3" class="tab-link button">Location</a>

				</div>

			</div>

			<div class="tabs">

				<div id="tab1" class="tab active app-form">
					<div class="list-block no-margin">

							<ul>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">First Name</div>
											<div class="item-input">
												<input type="text" id="first_name" name="first_name" >
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Other Names</div>
											<div class="item-input">
												<input type="text" id="other_names" name="other_names" >
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Gender</div>
											<div class="item-input">
												<select name="gender" id="gender" >
													<option value="1">Male</option>
													<option value="2">Female</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Date of birth</div>
											<div class="item-input">
												<input type="date" placeholder="Birth day" id="d_0_b" name="d_0_b" value="2017-04-28">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Phone</div>
											<div class="item-input">
												<input type="text"  id="producer_phone_number" name="producer_phone_number" >
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Add Photo</div>
											<div class="item-input" align="center">
												<a href="javascript:void(0);" id="take-picture">
													<i class="f7-icons size-50">camera</i>
												</a>
												<div>
													<input type="hidden"  id="producer_photo" name="producer_photo" >
													<img id="myImage" style="width:50%;">
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>

					</div>
				</div>

				<div id="tab2" class="tab app-form">
					<div class="list-block no-margin">

							<ul>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Banking Method</div>
											<div class="item-input">
												<select id="bank_method" name="bank_method">

													<option >- Select -</option>
													<option value="1">Bank</option>
													<option value="2">Sacco</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li class="bank">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Bank Name</div>
											<div class="item-input">
												<select id="producer-bank" name="producer-bank">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li class="bank-branch">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Bank Branch</div>
											<div class="item-input">
												<select id="bank-branch">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li class="account-names">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label"> Account Names</div>
											<div class="item-input">
												<input type="text" id="producer_bank_name" name="producer_bank_account" >
											</div>
										</div>
									</div>
								</li>
								<li class="account-no">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label"> Account Number</div>
											<div class="item-input">
												<input type="text"  id="producer_bank_account" name="producer_bank_account" >
											</div>
										</div>
									</div>
								</li>
								<li class="sacco">
									<div class="item-content ">
										<div class="item-inner">
											<div class="item-title label"> Sacco Name</div>
											<div class="item-input">
												<input type="text"  id="producer_sacco" name="producer_sacco" >
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Producer Group</div>
											<div class="item-input">
												<select id="producer-group">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Position held</div>
											<div class="item-input">
												<select  id="position_held" name="position_held">
													<option value="none">None</option>
													<option value="member">Member</option>
													<option value="leader">Group Leader</option>
												</select>
											</div>
										</div>
									</div>
								</li>

							</ul>

					</div>
				</div>

				<div id="tab3" class="tab app-form">
					<div class="list-block no-margin">

							<ul>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Address</div>
											<div class="item-input">
												<input type="text" id="producer_address" name="producer_address"  >
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">District</div>
											<div class="item-input">
												<select id="producer-district">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Sub County</div>
											<div class="item-input">
												<select disabled id="producer-sub-county">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">Village</div>
											<div class="item-input">
												<select disabled id="producer-village">
													<option value="">- Select -</option>
												</select>
											</div>
										</div>
									</div>
								</li>
							</ul>

					</div>
					<div class="content-block">

						<a href="javascript:void(0);" id="save-producer" class="button form-button button-fill button-raised">
							Save Information
						</a>

					</div>
				</div>

			</div>
		</div>

	</div>

</div>
