<div class="pages">

	<div data-page="add-planting" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Add planting
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>

		<div class="page-content app-form">

			<div class="content-block">

				<div class="buttons-row">

					<a href="#area-tab-1" class="tab-link active button">Info</a>
					<a href="#area-tab-2" class="tab-link button">Planting</a>

				</div>

			</div>

			<div class="tabs">

				<div id="area-tab-1" class="tab active app-form">

					<div class="list-block no-margin">

					<ul>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Producer
									</div>

									<div class="item-input">
										<select id="producer-name">
											<option value="">- Select -</option>
										</select>
									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Area
									</div>

									<div class="item-input">
										<select id="planting-area">
											<option value="">- Select -</option>
										</select>
									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Planting Year - 0
									</div>

									<div class="item-input">
										<input type="radio" id="planting-year" value="Year 0" />
									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Tech Specification version
									</div>

									<div class="item-input">
										<select id="tech-spec-versions">
											<option value="">- Select -</option>
										</select>
									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Tech Specification description
									</div>

									<div class="item-input">
										<select id="tech-spec-description">
											<option value="">- Select -</option>
										</select>
									</div>

								</div>

							</div>

						</li>

					</ul>

				</div>

				</div>

				<div id="area-tab-2" class="tab app-form">
					<div class="list-block no-margin">

					<ul>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Tree target

										<div class="item-input">
											<input type="text" id="planting-size" placeholder="Total land size" />
										</div>

									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Has planting started?

										<div class="item-input">

											<select id="planting-started">
												<option> -- Select -- </option>
												<option value="1">Yes</option>
												<option value="0">No</option>
											</select>

										</div>

									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="accordion-list">

										<div class="accordion-item">

											<div class="accordion-item-toggle">Tree Species </div>
											<div class="accordion-item-content">

												<div class="item-title label">
													Specie 1

													<div class="item-input">
														<input type="text" id="specie-1" placeholder="Enter number" />
													</div>

												</div>


												<div class="item-title label">
													Specie 2

													<div class="item-input">
														<input type="text" id="specie-2" placeholder="Enter number" />
													</div>

												</div>

											</div>

										</div>

									</div>

									<div class="content-block-title">
									Total trees <span id="total-trees"></span>

									</div>

								</div>

							</div>

						</li>


					</ul>

				</div>
				<div class="content-block">

					<a href="javascript:void(0);" id="save-planting" class="button form-button button-fill button-raised">
						Save Information
					</a>

				</div>

				</div>

			</div>

		</div>

	</div>

</div>
