<div class="pages">

	<div data-page="choose-monitoring" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Monitoring
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>
		

		<div class="page-content">

			<div class="page-content app-form">

				<div class="list-block no-margin">

					<ul>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Producer
									</div>

									<div class="item-input">
										<select id="producer-id">
											<option value="">- Select -</option>
											<option value="1">David</option>
											<option  value="2">Diane</option>
										</select>
									</div>

								</div>

							</div>

						</li>

						<li>

							<div class="item-content">

								<div class="item-inner">

									<div class="item-title label">
										Area
									</div>

									<div class="item-input">
										<select id="area-id">
											<option value="">- Select -</option>
										</select>
									</div>

								</div>

							</div>

						</li>

					</ul>

				</div>

				<div class="content-block">
					<a id="monitor-button" href="#"  class="button top-bottom-margin form-button button-fill button-raised"></a>
				</div>

		</div>

	</div>

</div>
