<div class="pages">
	<div data-page="socio-economic" class="page">
		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Socio Economic
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="page-content">

			<div class="list-block accordion-list">
			
				<ul>
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-inner">
							  <div class="item-title">Improved Livelihoods</div>
							</div>
						</a>
						
						<div class="accordion-item-content">
					  
							<ul class="list-block no-margin">

								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
											What crops do you grow?
											</div>

											<div class="item-input">
												<textarea rows="3" id="crops-grown" ></textarea>
											</div>
											
											<div class="item-instructions">
												Enter crop names, seperated with commas. Maximum 5 crops.
											</div>
											
										</div>
									</div>
								</li>
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
											What was your crop yield before the project intervations? Choose the most popular crop grown. 
											</div>

											<div class="item-input">
												<textarea rows="3" id="crop-yield-before-project" ></textarea>
											</div>
											
											<div class="item-instructions">
												Only numbers allowed. e.g 1000 which means 1000kgs.
											</div>
											
										</div>
									</div>
								</li>						
				
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
											What is your current crop yield? 
											</div>

											<div class="item-input">
												<input type="text" id="current-crop-yield" />
											</div>
											
											<div class="item-instructions">
												Only numbers allowed. e.g 1000 which means 1000kgs.
											</div>
								
										</div>
									</div>
								</li>
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
											What other enterprises are you engaged in?
											</div>

											<div class="item-input">
												<textarea id="other-enterprises" rows="3"></textarea>
											</div>
											
											<div class="item-instructions">
												Be specific. Seperate more than one with commas.
											</div>
								
										</div>
									</div>
								</li>
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Where did you get funding for the additional enterprises?
											</div>

											<div class="item-input">
												<textarea id="funding-sources" rows="3"></textarea>
											</div>
											
											<div class="item-instructions">
												Be specific. Seperate more than one with commas.
											</div>
								
										</div>
									</div>
								</li>
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												What do you use the carbon income you receive for?
											</div>

											<div class="item-input">
												<textarea id="carbon-income-use" rows="3"></textarea>
											</div>
											
											<div class="item-instructions">
												Be specific. Seperate more than one with commas.
											</div>
								
										</div>
									</div>
								</li>
							</ul>						 
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-inner">
							  <div class="item-title">Social Cohesion</div>
							</div>
						</a>
						<div class="accordion-item-content">
							
								<ul class="list-block no-margin">
									<li>
									
										<div class="item-content">

											<div class="item-inner">

												<div class="item-title label">
													Do you belong to any village group?
												</div>
												
												<div class="item-input">
													<label class="label-switch">
														<input type="checkbox" id="belong_to_village" />
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
									<li id="hide_show_village" class="hide" >
									
										<div class="item-content">

											<div class="item-inner">

												<div class="item-title label">
													Which one?
												</div>

												<div class="item-input">
													<textarea id="village-group-name" rows="2"></textarea>
												</div>
												
												<div class="item-instructions">
												Be specific. Seperate more one village with commas.
												</div>
												
											</div>
										</div>
									</li>
								</ul>	
						</div>
						
					</li>
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-inner">
							  <div class="item-title">Effective social institutions</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<ul class="list-block no-margin">
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Have you attended any other workshop/training by other organisations except ECOTRUST?
											</div>

											<div class="item-input">
												<label class="label-switch">
													<input type="checkbox" id="attend_workshop" />
													<div class="checkbox"></div>
												</label>
											</div>
												
										</div>
									</div>
								</li>
								<li id="hide_show_organiser" class="hide">
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												By who was it organised?
											</div>

											<div class="item-input">
												<input type="text" id="organizer" />
											</div>
											
										</div>
									</div>
								</li>
								<li id="hide_show_venue" class="hide" >
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Where was it held?
											</div>

											<div class="item-input">
												<input type="text" id="where-was-it" />
											</div>
											
										</div>
									</div>
								</li>
								<li id="hide_show_about" class="hide">
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												What was the training about?
											</div>

											<div class="item-input">
												<textarea id="was-about" class="row" ></textarea>
											</div>
											
										</div>
									</div>
									
								</li>
							</ul>
						</div>
						
					</li>
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-inner">
							  <div class="item-title">Diversified & Increased farmer income</div>
							</div>
						</a>
						<div class="accordion-item-content">
						
							<ul class="list-block no-margin">
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Has your income increased since you joined the project?
											</div>
											
											<div class="item-input">
												<label class="label-switch">
													<input type="checkbox" id="income_increase" />
													<div class="checkbox"></div>
												</label>
											</div>
								
										</div>
									</div>
								</li>
								
								<li id="hide_show_amount" class="hide">
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												By how much?
											</div>

											<div class="item-input">
												<input type="text" id="income_increase_amount" />
											</div>
								
										</div>
									</div>
								</li>
								<li>
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Do you have an improved cookstove/solvatten?
											</div>

											<div class="item-input">
												<label class="label-switch">
													<input type="checkbox" id="has_improved_stove" />
													<div class="checkbox"></div>
												</label>
											</div>
								
										</div>
									</div>
								</li>
								<li id="hide_show_stove" class="hide">
								
									<div class="item-content">

										<div class="item-inner">

											<div class="item-title label">
												Who provided the cook stove?
											</div>

											<div class="item-input">
												<input type="text" id="stove_provider" />
											</div>
											
										</div>
									</div>
									
								</li>
							</ul>

						</div>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>