<div class="pages">

	<div data-page="areas" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Areas
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>

		<a href="pages/add-area.html" class="floating-button">
			<i class="icon icon-plus"></i>
		</a>

		<div class="page-content">

			<form data-search-list=".areas-list-block" data-search-in=".item-title" class="searchbar searchbar-init">

				<div class="searchbar-input">
					<input type="search" placeholder="Search areas">
					<a href="#" class="searchbar-clear"></a>
				</div>

				<a href="#" class="searchbar-cancel">
					Cancel
				</a>

			</form>

			<div class="searchbar-overlay"></div>

			<div class="content-block searchbar-not-found">
	        	No areas found matching that criteria
	        </div>

			<div class="list-block areas-list-block searchbar-found no-margin">
				<ul></ul>
			</div>

		</div>

	</div>

</div>
